#book{
    font-size: 30px;
}

body{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
}

#Book{
   width: 20%;
   height: 10%;
  object-fit: cover;
}

#back {
    padding: 28px;
    background-color:rgb(4, 1, 23);
    color: orange;
    font-size: 24px;
    border-radius:50px ;
    margin-top: 2%;
    font-size: 30px;
    text-decoration:none;
    
}

button a{
    border-color: none;
    width: 60%;

}