#book{
    font-size: 30px;
    
}

body{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
    
}

#Book{
   width: 15%;
   height: 7%;
  object-fit: cover;
  margin-top: 1%;
}

#back {
    padding: 28px;
    background-color:rgb(4, 1, 23);
    font-size: 24px;
    border-radius:50px ;
    font-size: 30px;
    text-decoration:none;
    width: 15%;
    
}

button a{
    border-color: black;
    width: 70%;

}

#book_details{
    align-items: center;
    text-align: center;
}

