body{
    font-size: 26px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 2%;
    margin-right: 2%;

}

.Header{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    align-items: center;
    margin-left: 5%;
}

#header-logo{
    display: flex;
    gap: 4%;
    align-items: center;
}


#logo{
    width: 60%;
    border-radius: 50%;
}

#rise{
    margin-top: 10%;
    color: orange;
}

#Navbar{
    display: flex;
    color: rgb(100, 15, 15);
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
    gap: 40%;
}

button{
    padding: 10px 60px;
    border-color: black 3px;
    width: 70%;
    background-color:orange;
    color: black;
    font-size: 24px;
    border-radius:70px ;
    margin-top: 2%;  
    box-shadow:  inset 1px 1px 10px #000;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}

.landing-page-text{
    display: flex;
    align-items: center;
    gap: 40%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 2%;

}

#man-image{
    width: 100%;
    margin-left:-50% ;

    object-fit: cover;
}




@media only screen and (min-width:370px) and (max-width:670px){
    body{
        font-size: 20px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 2%;
        margin-right: 2%;
    
    }

    #Navbar{
        display: block;
        color: rgb(100, 15, 15);
        margin-top: 2%;
    }

    #man-image{
        width: 20%;
        object-fit: cover;
    }

    #header-logo{
        display: flex;
        gap: 4%;
    }

    #logo{
        width: 10%;
        border-radius: 50%;
    }

    .landing-page-text{
        display: block;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 2%;
    
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        padding: 14px 16px;
        display: block;
      
    }

    .Header{
        display: block;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    button{
        padding: 10px 60px;
        border-color: black 3px;
        width: 70%;
        background-color:orange;
        color: black;
        font-size: 24px;
        border-radius:70px ;
        margin-top: 2%;  
        box-shadow:  inset 1px 1px 10px #000;
    }
    
}   



