.Header{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    gap: 4%;
    align-items: center;
    margin-left: 5%;
}

body{
    font-size: 35px;
    margin-right: 5%;
    justify-content: center;
    margin-left: 4%;
    font-weight: 400px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#quote{
    font-size: 24px;
    color: rgb(12, 12, 36);
    margin-top: 10%;
}

#mentorship-image{
    object-fit: cover;
    width:60%;   
}

#about{
    display: flex;
    align-items: center;
    gap: 10%;
    color: black;

}

#logo{
    width:10%;
    object-fit: cover;
    margin-left: 5%;

}

#Program-name{
    font-size: 60px; 
    
}

#rise{
    margin-top: 10%;
    color: orange;


}
button{
    color: orange;
}

#get-started{
    padding: 28px;
    width: 30%;
    background-color:orange;
    color: rgb(4, 1, 23);
    font-size: 24px;
    border-radius:70px ;
    margin-top: 7%;
    
}

@media only screen and (min-width:320px) and (max-width:525px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 25px;
        margin-right: 4%;
        margin-left: 4%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 20px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:100%;   
    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:25%;
        object-fit: cover;
        margin-left: 34%;
    }
    
    #Program-name{
        font-size: 50px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 15px;
        width: 40%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 20px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}

@media only screen and (min-width:820px) and (max-width:1200px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 25px;
        margin-right: 4%;
        margin-left: 4%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 20px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:100%;   
    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:25%;
        object-fit: cover;
        margin-left: 34%;
    }
    
    #Program-name{
        font-size: 50px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 15px;
        width: 40%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 20px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 25px;
        margin-right: 4%;
        margin-left: 4%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 20px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:100%;   
    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:25%;
        object-fit: cover;
        margin-left: 34%;
    }
    
    #Program-name{
        font-size: 50px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 15px;
        width: 40%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 20px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}

@media only screen and (min-width:526px) and (max-width:760px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 25px;
        margin-right: 4%;
        margin-left: 4%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 20px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:100%;   
    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:25%;
        object-fit: cover;
        margin-left: 34%;
    }
    
    #Program-name{
        font-size: 50px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 15px;
        width: 40%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 20px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}

@media only screen and (min-width:240px) and (max-width:320px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 25px;
        margin-right: 4%;
        margin-left: 4%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 20px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:105%;   
    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:35%;
        object-fit: cover;
        margin-left: 34%;
    }
    
    #Program-name{
        font-size: 40px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 13px;
        width: 60%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 20px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}

@media only screen and (min-width:1200px) and (max-width:1280px){
    .Header{
        display: block;
        margin-bottom: 5%;
    }

    body{
        font-size: 40px;
        margin-right: 4%;
        margin-left: 5%;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    #quote{
        font-size: 30px;
        color: rgb(12, 12, 36);
        margin-top: 10%;
    }

    #mentorship-image{
        object-fit: cover;
        width:100%;

    }

    #about{
        display: block;
        color: black;
    
    }

    #logo{
        width:20%;
        object-fit: cover;
        margin-left: 40%;

    }
    
    #Program-name{
        font-size: 70px; 
        
    }
    
    #rise{
        margin-top: 7%;
        color: orange;
    
    
    }
    
    #get-started{
        padding: 28px;
        width: 30%;
        background-color:orange;
        color: rgb(4, 1, 23);
        font-size: 24px;
        border-radius:70px ;
        margin-top: 7%;
        margin-bottom: 7%;
        
    }
    
}